<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/home.css">    
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/reset/reset.css">
    
    </head>
<body>
    <!-- cabecera -->
    <header>
        <div class="header-top">
            <a href="/home.html" class="logo">
                <img src="/images/logo-tho.png" alt="Logo" >
            </a>
            <form action="/" method="GET" class="search">
                <input type="text" placeholder="Buscar producto">
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <p>
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>

        <!-- barra de navegacion -->
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/">Creá tu cuenta </a><i class="fas fa-address-card"></i></li>
                <li><a href="/">Ingresá </a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="/">Mis compras </a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    
</body>
</html>